# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_lineage_fastcharge)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow systemui to read audio properties for shutter sound adjustment
get_prop(platform_app, audio_config_prop)
